* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: auto;
  background-color: rgb(18, 94, 22);
}
.head-col {
  float: left;
  width: 25%;
}
header nav ul li.active {
  background-color: rgba(17, 112, 104, 0.7);
}
header nav a {
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header nav .title:hover {
font-size: 1.3rem;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline;
  text-decoration: none;
}

main div h1 strong {
  font-family: "Times New Roman", Times, serif;
}

footer .small {
  font-size: 0.9rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer hr {
  border-top: 1px solid black;
}
header .bg-dark {
  background-color: rgb(18, 94, 22) !important;
}

main {
  clear: both;
}

main .landing {
  background: url("../images/cover.jpg") no-repeat fixed;
}
main .jumbotron {
  height: 80vh;
  background-size: cover;
}

main .business, main .fitness, main .apartment {
  height: 30vh;
  background-color: rgb(88, 130, 143);
  border-radius: 2px solid black;
}
/* main .business {
  background-image: url('../images/bw.png') no-repeat;
  border-radius: 2px solid black;
}
main .fitness {
  background-image: url('../images/ft.png') no-repeat;
}
main .apartment {
  background-image: url('../images/af.png') no-repeat;
} */

main .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} 

main .text:hover{
  background-color: rgba(54, 219, 103, 0.5);
  font-size: 25px;
}

footer {
  background-color: rgb(18, 94, 22);
}

/* .resume:hover {
  background-color: blue;
}

