@media only screen and (min-width: 768px) {
  main div h1 strong {
    font-size: 3.5rem;
    font-family: "Times New Roman", Times, serif;
  }

  footer .large {
    font-size: 1.5rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
