@media only screen and (min-width: 768px) {
  main div h1 strong {
    font-size: 3.5rem;
    font-family: "Times New Roman", Times, serif;
  }

  main .bg-light {
    height: 30vh;
    font-size: 1.5rem;
  }

  div .about {
    height: 90vh;
  }

  /* main .container {
    height: 85vh;
  } */

  /* footer span {
    font-size: 1.5rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  } */
}
